# -------------------------------
# 🧨 Powerlevel10k Instant Prompt
# -------------------------------
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${USER}.zsh" ]]; then
    source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${USER}.zsh"
fi

# -------------------------------
# 🎨 Oh My Zsh & Theme
# -------------------------------
export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="powerlevel10k/powerlevel10k"
export ZSH_CUSTOM=ZSH_CUSTOM_TEMPLATE

export PATH=SCRIPTS_DIR_TEMPLATE:$PATH

# -------------------------------
# ⚙️ Shell Behavior Enhancements
# -------------------------------
ENABLE_CORRECTION="true"
COMPLETION_WAITING_DOTS="true"

# -------------------------------
# 🔌 Plugins
# -------------------------------
plugins=(
    # git                      # Git 命令支持
    zsh-syntax-highlighting # 命令语法高亮
    z                       # 快速跳转历史目录
    copypath                # 复制路径命令
    copyfile                # 复制文件命令
    zsh-allclear            # cd ~ 自动 clear
    cd-ls                   # cd 后自动 ls
    you-should-use          # 命令 alias 提示
)
eval "$(thefuck --alias)"

export YSU_MESSAGE_POSITION="after"

export EDITOR="nvim"

source "$ZSH/oh-my-zsh.sh"
source "$HOME/.alias"

alias dot="DOT_TEMPLATE"

if [[ -f "$HOME/.cargo/bin" ]]; then
    export PATH=$HOME/.cargo/bin:$PATH
fi

if [[ -f "$HOME/.zshrc_linux" ]]; then
    source "$HOME/.zshrc_linux"
elif [[ -f "$HOME/.zshrc_macos" ]]; then
    source "$HOME/.zshrc_macos"
fi

eval "$(uv generate-shell-completion zsh)"

proxy

export NVM_DIR="$HOME/.nvm"
[ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"  # This loads nvm
[ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

# -------------------------------
# 💡 Powerlevel10k 主题设置
# -------------------------------
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
