# -------------------------------
# 🎨 Oh My Zsh & Theme
# -------------------------------
export ZSH="$HOME/.oh-my-zsh"
export ZSH_CUSTOM=ZSH_CUSTOM_TEMPLATE

export PATH=SCRIPTS_DIR_TEMPLATE:$PATH
export scripts_dir="SCRIPTS_DIR_TEMPLATE"

# -------------------------------
# ⚙️ Shell Behavior Enhancements
# -------------------------------
ENABLE_CORRECTION="true"
COMPLETION_WAITING_DOTS="true"

# -------------------------------
# 🔌 Plugins
# -------------------------------
plugins=(
    zsh-syntax-highlighting # 命令语法高亮
    z                       # 快速跳转历史目录
    copypath                # 复制路径命令
    copyfile                # 复制文件命令
    zsh-allclear            # cd ~ 自动 clear
    cd-ls                   # cd 后自动 ls
    you-should-use          # 命令 alias 提示
)

export YSU_MESSAGE_POSITION="after"

export EDITOR="nvim"

source "$ZSH/oh-my-zsh.sh"
source "$HOME/.alias"

alias dot="DOT_TEMPLATE"

if [[ -f "$HOME/.cargo/bin" ]]; then
    export PATH=$HOME/.cargo/bin:$PATH
fi

if [[ -f "$HOME/.zshrc_linux" ]]; then
    source "$HOME/.zshrc_linux"
elif [[ -f "$HOME/.zshrc_macos" ]]; then
    source "$HOME/.zshrc_macos"
fi

eval "$(uv generate-shell-completion zsh)"

proxy

HISTSIZE=50000
SAVEHIST=1000000

export NVM_DIR="$HOME/.nvm"
[ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"                                       # This loads nvm
[ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" # This loads nvm bash_completion


# --------- starship prompt ---------
eval "$(starship init zsh)"

# Enable transient prompt - simplify historical prompts after accepting a command
zle-line-init() {
    emulate -L zsh
    [[ $CONTEXT == start ]] || return 0

    while true; do
        zle .recursive-edit
        local -i ret=$?
        [[ $ret == 0 && $KEYS == $'\4' ]] || break
        [[ -o ignore_eof ]] || exit 0
    done

    local saved_prompt=$PROMPT
    local saved_rprompt=$RPROMPT
    PROMPT="$(starship prompt --profile transient)"
    # 用starship 的rtransient有点bug不能显示
    RPROMPT=$'%{\e[38;2;180;190;254m%}[ %~]%{\e[0m%}'
    zle .reset-prompt
    PROMPT=$saved_prompt
    RPROMPT=$saved_rprompt

    if ((ret)); then
        zle .send-break
    else
        zle .accept-line
    fi
    return ret
}

zle -N zle-line-init
# ---------------------------------------
