[Unit]
Description=BSU Login

[Service]
Type=oneshot
EnvironmentFile=%h/.config/bsu/credentials.env
ExecStart=/usr/bin/python /home/wanger/dotfiles/.gen/scripts/bsu_login.py --username ${BSU_USERNAME} --password ${BSU_PASSWORD}
